{% assign meetupSlice = meetups | lookup: "Memphis Web Workers" | slice: "1"  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ meetupSlice.0.name }}</title>
    <link rel="stylesheet" href="/style.css">
    <meta property="description" content="{{meetupSlice.0.description | strip_html }}">

    <meta property="og:title" content="{{ meetupSlice.0.name }}" />
    <meta property="og:image" content="https://memphiswebworkers.com/images/social-default.png" />
    <meta property="og:description" content="{{ meetupSlice.0.description | strip_html }}" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@memphisww" />
    <meta name="twitter:title" content="{{ meetupSlice.0.name }}" />
    <meta name="twitter:description" content="{{ meetupSlice.0.description | strip_html }}" />
    <meta name="twitter:image" content="https://memphiswebworkers.com/images/social-default.png" />
</head>
<body>

{% if page.url != "/" %}
<header class="header">
    <a href="/" class="logo{% if settings.logo != blank %} logo-image{% endif %}">{% if settings.logo != blank %}<img src="{{ settings.logo }}">{% else %}{{ settings.siteName }}{% endif %}</a>
    {% if settings.socials.0 %}



    <div class="socials">
        <nav class="site-nav">
                <a href="/posts/">Meetup Notes</a>
        </nav>
        {% for social in settings.socials %}
            <a class="social" href="{{ social.url }}">{{ social.image-file | svgContents }}</a>
        {% endfor %}
    </div>
    {% endif %}
</header>

<section class="banner">
    <div class="banner__content">
        <h1 class="page-title">{{ title }}</h1>
        {% if about %}<p>{{ about }}</p>{% endif %}
    </div>
</section> 

{% endif %}