

html {
    font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
    font-size: 18px;
    line-height: 1.5em;
}

body {
    margin: 0;
    color: #222;
}
* {
    margin: 0;
    box-sizing: border-box;
}
* + * {
    margin-top: 1em;
}

a {
    color: var(--link-color);
}
img {
    max-width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.socials {
    display: flex;
}
.social {
    margin: 0 1rem 0 0;
}
.social:last-child {
    margin-right: 0;
}
.social svg {
    height: 2.5rem;
}
.logo {
    font-size: 3rem;
    line-height: 1.3em;
    margin-top: 1rem;
    display: block;
}
.logo-image {

}

.banner {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 4rem 1rem; 
}
.banner__content {
    max-width: 850px;
    width: 95vw;
    margin: auto;
}

.container {
    width:90vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .9);
    padding: 2rem;
}
.meetups {
    display: flex;
    margin: 3rem auto;
    width: 95vw;
    max-width: 1200px;
}
.meetup__title {
    font-size: 1.5rem;
    line-height: 1.4em;
}
.meetup__item {
    padding: 1rem 2rem 2rem;
    margin-bottom: 3rem;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .4);
    display: grid;
    grid-template-columns: minmax(75px, .15fr) 1fr;
    grid-gap: 0 1rem;
}
.meetup__details {
    margin: 0;
}
.meetup__details p a {
    word-break: break-all;
}
.meetup__date {
    font-size: .8rem;
    margin-top: .5rem;
    align-self: start;
}
.upcoming {
    flex: 1;
    max-width: 950px;
    margin-right: 2rem;
}
.sidebar {
    flex: .5;
}

.date {
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid var(--background-color);
}
.date__month {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 5px;
}
.date__day {
    margin: 20px 0;
    font-size: 1.3em;
}

@media (max-width: 640px) {
    .meetups {
        display: block;
    }
    .upcoming, .notes {
        margin: 1rem auto 0;
        width: 90vw;
    }
    .header {
        display: block;
    }
    .logo-image img {
        width: 100%;
    }
}
.page-title {
    font-size: 3rem;
    line-height: 1.2em;
    text-align: center;
}


.footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding: 1rem;
    
}



body {
    background-color: var(--background-color);
    background-image: url(/images/meetup-image.jpeg);
    background-size: cover;
    background-blend-mode: color-burn;
}
.homepage {
    /* background-color: var(--background-color); */
    margin: 2rem;
    border: 4px solid var(--foreground-color);
    padding: 2rem;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(50px, min-content) 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: "logo . . . nav"
                         "title title title title ."
                         "date details details details ."
                         "description description description . .";
}
@media (max-width: 850px) {
    .homepage {
        padding: 1rem;
        margin: 1rem;
        grid-gap: .75rem;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: max-content;
        grid-template-rows: max-content;
        align-content: center;
        grid-template-areas: "logo logo"
                             "nav nav"
                             "title title"
                             "date details"
                             "description description";
    }
    .nav, .homepage svg {
        justify-self: center;
    }
}
.homepage > * {
    z-index: 100;

}
.homepage > svg {
    grid-area: logo;
    max-width: 100%;
}
.homepage > svg g, .homepage > svg rect, .homepage > svg polygon, .homepage > svg path {
    fill: white !important;
}
.nav {
    grid-area: nav;
    text-align: right;
    align-self: start;
}
.meetup-title {
    grid-area: title;
    font-size: 3rem;
    line-height: 1.4em;
    margin: 0;
}
.meetup-description {
    grid-area: description;
    color: var(--foreground-color);
    column-width: 300px;

}
.meetup-date {
    grid-area: date;
    font-size: 2.5rem;
    line-height: 1.2em;
    text-align: center;
    color: var(--foreground-color);
    display: grid;
    grid-template-columns: minmax(25px, 40px) minmax(100px, 1fr);
    grid-gap: 1rem;
    align-content: center;
    margin: 0;
}
@media (max-width: 850px) {
    .meetup-date, .meetup-title {
        font-size: 2rem;
    }
}
.meetup-details {
    grid-area: details;
    color: white;
    font-size: 3rem;
    line-height: 1.4em;
    align-self: center;
    margin: 0;
}
@media (max-width: 850px) {
    .homepage * + * {
        margin-top: 1rem;
    }
    .meetup-details {
        font-size: 2rem;
        text-align: center;
    }
}
.venue {
    font-size: .5em;
    line-height: 1.4em;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid white;
}
.date-icon {
    grid-row: 1 / 3;
    grid-column: 1;
    align-self: center;
}
.date-icon svg {
    width: 100%;
    height: 100%;
}
.date-icon svg path {
    fill: white;
}
.date-month {
    margin: 0;
    grid-row: 1;
    grid-column: 2;
    border-left: 2px solid var(--foreground-color);
    display: flex;
    align-items: end;
    justify-content: center;
}
.date-day {
    margin: 0;
    grid-row: 2;
    grid-column: 2;
    border-left: 2px solid var(--foreground-color);

}
